$main-font: 'Merriweather Sans', sans-serif;
$secondary-font: 'Abril Fatface', serif;

$dark-color: #000000;
$mutted-color: #2a3439;
$more-mutted-color: #3d3d41;
$more-more-mutted-color: #778185;
$very-mutted-color: #dcdcdc;
$light-color: #ffffff;
$primary-color: #237fa8;
$secondary-color: #ffc832;
$darken-secondary-color: #E8B322;
$ternary-color: #237FA8;
$error-color: #ef1f1f;
