.events-header {
    border-bottom: 6px solid $primary-color;
    border-top: 6px solid $primary-color;
    background: $very-mutted-color;
}

.events-header-content {
    @include page-body;
    padding-top: 72px;
    padding-bottom: 32px;
}

.events-title {
    @include section-title;
    border-bottom: solid 10px $primary-color;
    font-size: 68px;

    @include mobile {
        font-size: 52px;
    }
}

.events-sub-title {
    font-weight: 400;
    font-size: 27px;
    color: $mutted-color;
    margin-top: 24px;
}

.events-meta-content {
    @include style-md;
}

.events-event-poster {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-grow: 0;
}

.events-content {
    @include page-body;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 64px;
    padding-bottom: 64px;
}

.events-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &.past {
        opacity: 0.7;
    }
}

.events-event-header {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.events-event-head {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.events-event-title {
    font-weight: 600;
    font-size: 32px;
    display: inline-block;
}

.events-event-link {
    color: $dark-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.events-event-description {
    @include pharagraph;
    font-size: 17px;
    line-height: 1.6em;
}

.events-past {
    font-size: 32px;
    font-weight: 300;
    border-bottom: 4px solid $very-mutted-color;
    padding-bottom: 12px;
    margin: 32px 0;
}

.events-event-item {
    display: flex;
    gap: 32px;
    padding-bottom: 24px;
    border-bottom: 2px solid $very-mutted-color;
    align-items: center;

    &:last-child {
        border-bottom: none;
    }
}

.events-event-body {
    flex-grow: 1;
    flex-shrink: 1;
}


.events-event-date {
    font-family: $secondary-font;
    border: 2px solid $primary-color;
    border-top-width: 12px;
    color: $primary-color;
    font-weight: 600;
    padding: 4px 4px;
    border-radius: 3px;
    text-align: center;
    display: block;
    width: 75px;
    flex-shrink: 0;
    flex-grow: 0;
}

.events-event-place {
    font-weight: 600;
    color: $primary-color;
}

.event-detail-header-content {
    @include page-body;
    display: flex;
    gap: 64px;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 32px;

    @include tablet {
        flex-direction: column;
        gap: 24px;
    }
}

.event-detail-meta {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.event-detail-header-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;

    @include tablet {
        align-items: stretch;
    }
}

.event-detail-sub-title {
    font-weight: 400;
    font-size: 27px;
    line-height: 1.4em;
    color: $mutted-color;
}

.event-detail-header-register-cta {
    @include cta-btn;
    padding: 18px 48px;
}

.event-detail-header-poster {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 6px;
    height: 350px;
    align-self: center;

    @include tablet {
        align-items: center;
        justify-content: center;
    }

    & img {
        display: block;
        height: 100%;
    }
}

.event-detail-header-date {
    font-weight: 800;
    font-size: 28px;
}

.event-detail-header-place {
    font-size: 32px;
    font-weight: 500;
    color: $primary-color;
}

.event-detail-page-body {
    @include page-body;
    display: flex;
    gap: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-grow: 1;
    font-size: 16px;

    @include tablet {
        flex-direction: column;
        gap: 32px;
    }
}

.event-detail-content {
    @include style-md;
    flex-grow: 1;
    flex-shrink: 1;
}

.event-detail-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 400px;
    flex-shrink: 0;
    flex-grow: 0;

    @include tablet {
        width: auto;
    }
}

.event-detail-info-box {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 24px;
}

.event-detail-info-title {
    @include right-side-title;
}

.event-detail-info-table {
    @include has-links;
    width: 100%;
    color: $mutted-color;

    td {
        padding: 4px 0;
        font-weight: 600;

        &:last-child {
            width: 65%;
            font-weight: 400;
        }
    }
}

.event-detail-register-cta {
    @include cta-btn;
}

.event-detail-qr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-detail-info-share {
    @include has-links;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    a {
        width: auto;
        padding: 2px 0;
    }
}

.event-detail-info-map {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.event-detail-info-coords {
    color: $more-mutted-color;
    font-size: 14px;
    line-height: 1.3em;
}

.event-detail-info-map-links {
    @include has-links;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.event-detail-map {
    display: block;
    height: 300px;
}

.map-marker-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 6px;
}

a.event-detail-content-register-cta {
    @include cta-btn;
    margin: 64px 0;
    color: $dark-color;

    &:visited {
        color: $dark-color;
    }
}

.events-event-detail-link {
    color: $primary-color;
    font-weight: 700;

    &:hover {
        background: $primary-color;
        color: $light-color;
    }
}
