// See: https://www.dafont.com/icons-social-media-8.font
// as a reference for gliphs
@font-face {
    font-family: 'icons8';
    src: url('/font/icons/icons8.eot'); /* IE9 Compat Modes */
    src: url('/font/icons/icons8.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/font/icons/icons8.woff2') format('woff2'), /* Super Modern Browsers */
        url('/font/icons/icons8.woff') format('woff'), /* Pretty Modern Browsers */
        url('/font/icons/icons8.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/font/icons/icons8.svg#icons8') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@mixin icon($name, $glyph) {
    &.#{$name}::before {
        content: $glyph;
    }
}

.icon {
    font-family: 'icons8';
    line-height: inherit;
    color: inherit;

    @include icon('rss', 'r');
    @include icon('bird_site', 't');
    @include icon('facebook', 'f');
    @include icon('job_site', 'i');
    @include icon('github', '<');
    @include icon('video_site', 'y');
    @include icon('mastodon', ']');
    @include icon('photo_site', 'c');
}
