@mixin pharagraph {
    line-height: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

@mixin has-links {
    a, a:visited, a:active {
        color: $primary-color;
    }

    a:hover {
        color: $light-color;
        background: $primary-color;
    }
}

@mixin has-strong {
    strong {
        font-weight: 600;
    }
}

@mixin section-title {
    display: inline-block;
    font-size: 48px;
    letter-spacing: -2px;
    font-weight: 800;
    line-height: 0.9em;
    padding: 0;
    margin: 0;

    @include tablet {
        line-height: 1.1em;
    }
}

@mixin title {
    font-size: 32px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: -1px;
}

@mixin sub-title {
    margin-top: 24px;
    font-weight: 800;
    font-size: 32px;
}

@mixin page-body {
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 24px;
}

@mixin cta-btn {
    position: relative;
    border-radius: 3px;
    background: $secondary-color;
    color: $dark-color;
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    border: none;
    padding: 24px 82px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &:hover {
        background: $darken-secondary-color;
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

@mixin cta-secondary {
    position: relative;
    border-radius: 3px;
    color: $light-color;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    border: none;
    padding: 12px 24px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border: 1px solid rgba($light-color, 0.5);

    &:hover {
        background: rgba($light-color, 0.25);
    }
}

@mixin columns-container {
    display: flex;
    gap: 75px;

    @include tablet {
        flex-direction: column;
        gap: 24px;
    }
}

@mixin column {
    flex-grow: 1;
    flex-shrink: 0;
}

@mixin style-md {
    @include has-links;

    p {
        @include pharagraph;
        margin: 20px 0;
        text-align: justify;

        @include mobile {
            text-align: left;
        }
    }

    strong {
        font-weight: 700;
    }

    em {
        font-style: italic;
    }

    h2 {
        @include title;
        padding: 24px 0;
        font-weight: 800;
    }

    h3 {
        @include title;
        padding: 24px 0;
    }

    h4 {
        font-size: 22px;
        font-weight: 800;
        margin-top: 20px;
    }

    ul {
        list-style-type: square;
        padding: 6px 0 6px 32px;
        font-weight: 500;
        text-align: left;

        li {
            margin: 6px 0;
            line-height: 1.5em;
        }
    }

    ol {
        list-style-type: numeric;
        line-height: 1.5em;
        padding: 12px 0 12px 22px;
        text-align: justify;

        @include mobile {
            text-align: left;
        }

        li {
            padding: 8px 0;
        }

        ol {
            list-style-type: lower-alpha;
            padding: 8px 0 0 42px;

            li {
                padding: 3px 0;
            }
        }
    }

    blockquote {
        background: rgba($primary-color, .2);
        border-left: 8px solid $primary-color;
        padding: 6px 32px;
        text-align: left;
    }
}

@mixin tablet {
    @media screen and (max-width: 1000px) {
        @content;
    }
}

@mixin small-tablet {
    @media screen and (max-width: 850px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 590px) {
        @content;
    }
}

@mixin right-side-title {
    font-size: 38px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: -18px;
    color: $more-more-mutted-color;
}
