@mixin register-form-breakpoint {
    @media screen and (max-width: 915px) {
        @content;
    }
}

.register-page-header {
    background: $secondary-color;
    border-top: 6px solid $primary-color;
    padding-top: 72px;
    padding-bottom: 32px;
}

.register-page-done {
    display: flex;
    flex-direction: column;
    background: $secondary-color;
    border-top: 6px solid $primary-color;
    padding-top: 72px;
    padding-bottom: 32px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.register-done-home-link {
    display: inline-block;
    border: 4px solid $dark-color;
    font-weight: 800;
    color: $dark-color;
    font-size: 26px;
    padding: 12px 32px;
    border-radius: 32px;
    text-decoration: none;
    margin-top: 32px;
    text-align: center;

    &:hover {
        background: $primary-color;
        color: $light-color;
    }

    @include tablet {
        width: 100%;
    }
}

.register-page-header-content {
    @include page-body;
}

.register-page-title {
    display: inline-block;
    font-weight: 800;
    letter-spacing: -2px;
    font-size: 68px;
    border-bottom: solid 10px $dark-color;
}

.register-page-description {
    padding-top: 24px;
    line-height: 1.7em;
    font-weight: 600;
    font-size: 20px;

    p {
        margin: 12px 0;
    }

    em {
        font-style: italic;
        font-weight: 300;
    }
}

.register-page-body {
    background: $primary-color;
    color: $light-color;
    padding: 48px 0;
    font-weight: 800;
    flex-grow: 1;
}

.register-page-content {
    @include page-body;
}

.register-form-width-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 865px;
}

.register-form-footer {
    @include page-body;
    padding-top: 32px;
    padding-bottom: 32px;
}

.register-form-footer-content {
    display: flex;
    gap: 64px;

    @include register-form-breakpoint {
        flex-direction: column;
    }
}

.register-form-footer-left {
    font-weight: 600;
    width: 400px;
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > img {
        /* width: 250px; */
        max-width: 100%;
    }

    @include register-form-breakpoint {
        display: none;
    }
}

.register-form-footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 32px;

    .error-message {
        color: $error-color;
        text-align: center;
        width: 100%;
        margin-top: 6px;
        text-transform: uppercase;
    }
}

.register-signature-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 100%;
    text-align: center;
    gap: 6px;

    @include register-form-breakpoint {
        width: 100%;
    }
}

.register-signature {
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    border: 4px solid $primary-color;
    border-radius: 8px;
    background: $light-color;
    height: 200px;
    flex-grow: 1;
    z-index: 2;

    .error & {
        border-color: $error-color;
    }

    &.done {
        .register-signature-default {
            display: none;
        }

        .register-signature-clear-btn {
            display: block;
        }

        &:not(.active):hover {
            .register-signature-default {
                display: flex;
            }
        }
    }

    &.drag {
        .register-signature-drag {
            display: flex;
        }

        .register-signature-default {
            display: none;
        }
    }

    &.active {
        .register-signature-default {
            display: none;
        }
        .register-signature-signing {
            display: flex;
        }
    }

    button {
        position: relative;
    }

    img {
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
    }
}

.register-signature-default {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background: rgba($primary-color, .2);
    z-index: 1;

    button {
        font-family: $main-font;
        background: $secondary-color;
        color: $dark-color;
        width: 140px;
        border: 2px solid $primary-color;
        font-weight: 600;
        font-size: 20px;
        padding: 6px 18px;
        border-radius: 3px;
        cursor: pointer;

        background: transparent;
        border: 4px solid $secondary-color;

        &:hover {
            background: $secondary-color;
        }

        &.register-signature-clear-btn {
            border-color: $mutted-color;

            &:hover {
                background: $mutted-color;
                color: $light-color;
            }
        }
    }
}

.register-signature-default-btns {
    display: flex;
    gap: 12px;
    // needed on mobile
    flex-wrap: wrap;
    justify-content: center;
}

.register-signature-clear-btn {
    display: none;
}

.register-signature-drag-info {
    color: $mutted-color;
    font-weight: 600;
    font-size: 16px;
    text-shadow: 1px 1px 2px $light-color;
}

.register-signature-drag {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-grow: 1;
    text-align: center;
    color: $light-color;
    background: $primary-color;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -1px;
}

.register-signature-signing {
    display: none;
    position: absolute;
    top: -28px;
    right: 5px;
    justify-content: flex-end;
    gap: 6px;

    button {
        font-family: $main-font;
        font-size: 16px;
        display: block;
        border: none;
        background: $very-mutted-color;
        padding: 2px 6px;
        font-weight: 600;
        cursor: pointer;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;

        &.register-signature-confirm-btn {
            color: $dark-color;
            background: $primary-color;
            color: $light-color;
        }

        &:hover {
            background: $secondary-color;
            color: $dark-color;
        }
    }
}

.x-sign-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($mutted-color, 0.6);
    z-index: 1;
}

.registration-signature-label {
    color: $primary-color;
    font-weight: 600;
    text-transform: uppercase;
}

.registration-submit-btn {
    @include cta-btn;
    align-self: flex-end;

    @include register-form-breakpoint {
        align-self: stretch;
    }

    &:disabled {
        opacity: .5;
    }
}

.register-form-fields {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.register-fieldset {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.register-form-field {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 400px;
    max-width: 100%;

    @include register-form-breakpoint {
        width: auto;
        max-width: 400px;
    }

    &.small {
        width: 170px;
    }

    .error-message {
        color: $error-color;
    }
}

.register-form-label {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.register-form-input {
    font-family: $main-font;
    background: transparent;
    border: 4px solid $secondary-color;
    border-radius: 8px;
    padding: 6px 12px;
    color: $light-color;
    font-size: 20px;
    outline: none;
    width: 100%;

    &:focus {
        background: rgba($light-color, .4);
        color: $dark-color;

        &::placeholder {
            color: $dark-color;
        }
    }

    &::placeholder {
        color: $light-color;
        opacity: 0.5;
    }

    &.error {
        border-color: $error-color;
    }
}

.register-field-row {
    display: flex;
    gap: 64px;

    @include register-form-breakpoint {
        flex-direction: column;
        gap: 32px;
    }
}

.register-form-confirmation {
    max-width: 965px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

.register-approve {
    @include has-links;

    font-size: 18px;
    font-weight: 600;
}

.datepicker-picker {
    color: $dark-color;

    .datepicker-grid {
        background: $very-mutted-color;
    }
    .datepicker-cell.day.selected {
        background: $primary-color;
    }
}

#register-member-form {
    .form-error {
        @include page-body;
        background-color: $error-color;
        color: $light-color;
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 32px;
    }
}
