.single-page-header {
    background: $primary-color;
    color: $light-color;
    padding-top: 72px;
    padding-bottom: 32px;
}

.single-page-header-content {
    @include page-body;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.single-page-title {
    font-weight: 800;
    letter-spacing: -2px;
    font-size: 68px;
    border-bottom: solid 10px $secondary-color;
    align-self: flex-start;
    justify-self: flex-start;
}

.single-page-description {
    line-height: 1.7em;
    font-weight: 600;
    font-size: 18px;
    padding-top: 16px;

    p {
        margin: 12px 0;
    }

    em {
        font-style: italic;
        font-weight: 300;
    }
}

.single-page-body {
    @include page-body;
    @include style-md;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-grow: 1;
    font-size: 16px;
}

// this is the only thing different in about page so we
// reuse most of the selectors as an exception
.about-page-body {
    @include page-body;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-grow: 1;
}

.about-page-right {
    float: right;
    flex-grow: 0;
    flex-shrink: 0;
    width: 400px;
    margin-left: 32px;

    @include tablet {
        float: none;
        width: 100%;
        text-align: center;
        margin-left: 0;

        & > img {
            max-width: 300px;
        }
    }
}

.about-page-left {
    @include style-md;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 16px;
}

.single-page-header-download {
    color: rgba($light-color, 0.7);
    font-size: 16px;
}

.single-page-header-download-link {
    color: $secondary-color;
}
