.single-page-header {
    background: $primary-color;
    color: $light-color;
    padding-top: 72px;
    padding-bottom: 32px;
}

.about-page-header {
    background: $primary-color;
    color: $light-color;
    padding-top: 72px;
}

.single-page-sub-nav {
    flex: 1;
    display: flex;
    overflow: auto;
    gap: 6px;

    a {
        color: $light-color;
        text-decoration: none;
        border: 1px solid rgba($light-color, .5);
        padding: 12px 24px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-weight: 300;
        border-bottom: 0;

        &:hover {
            background: rgba($light-color, .25);
        }

        &.active {
            background: $light-color;
            color: $primary-color;
            border-color: $light-color;
            font-weight: 600;
        }

        @include mobile {
            font-size: 16px;
            padding: 12px;
        }
    }
}

.single-page-header-content {
    @include page-body;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.single-page-title {
    font-weight: 800;
    letter-spacing: -2px;
    font-size: 68px;
    border-bottom: solid 10px $secondary-color;
    align-self: flex-start;
    justify-self: flex-start;

    @include mobile {
        font-size: 48px;
    }
}

.single-page-sub-title {
    font-weight: 400;
    font-size: 27px;
    line-height: 1.4em;
}

.single-page-description {
    display: flex;
    flex-direction: column;
    line-height: 1.7em;
    font-weight: 600;
    font-size: 18px;
    padding-top: 16px;

    p {
        margin: 12px 0;
        text-align: justify;

        @include mobile {
            text-align: left;
        }
    }

    em {
        font-style: italic;
        font-weight: 300;
    }

    .contact-list {
        margin: 0 0 12px 0;
    }
}

.single-page-body {
    @include page-body;
    @include style-md;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-grow: 1;
    font-size: 16px;
}

// this is the only thing different in about page so we
// reuse most of the selectors as an exception
.about-page-body {
    @include page-body;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-grow: 1;
}

.about-page-right {
    float: right;
    flex-grow: 0;
    flex-shrink: 0;
    width: 400px;
    margin-left: 32px;

    @include tablet {
        float: none;
        width: 100%;
        text-align: center;
        margin-left: 0;

        & > img {
            max-width: 300px;
        }
    }
}

.about-page-left {
    @include style-md;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 16px;
}

.about-page-profile {
    @include style-md;
    display: flex;
    gap: 75px;

    flex-grow: 1;
    flex-shrink: 1;
}

.about-page-profile-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.about-page-profile-photo {
    flex-grow: 0;
    flex-shrink: 0;
    width: 150px;
    height: 225px;
}

.about-page-profile-text-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about-page-profile-title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 32px;
}

.about-page-profile-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7em;
}

.single-page-header-download {
    color: rgba($light-color, 0.7);
    font-size: 16px;
}

.single-page-header-sub-description {
    line-height: 1.7em;
    font-size: 16px;
    padding-top: 8px;

    p {
        margin: 12px 0;
    }

    a {
        color: $secondary-color;
    }
}

.single-page-header-download-link {
    color: $secondary-color;
}
