/**
We follow rule of least surprise.

* we don't use very general selectors,
* we don't reuse classes
* we don't use overly specific selectors

This might mean a bit more things need to be done to add new thing
but it makes long term maintainanece much simpler.
*/
@import "reset";

$main-font: 'Merriweather Sans', sans-serif;
$secondary-font: 'Abril Fatface', cursive;

$dark-color: #000000;
$mutted-color: #2a3439;
$more-mutted-color: #3d3d41;
$very-mutted-color: #dcdcdc;
$light-color: #ffffff;
$primary-color: #237fa8;
$secondary-color: #ffc832;
$darken-secondary-color: #E8B322;
$ternary-color: #237FA8;
$ternary-color: #43C5FF;

@mixin pharagraph {
    line-height: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

@mixin has-links {
    a, a:visited, a:active {
        color: $ternary-color;
    }

    a:hover {
        color: $light-color;
        background: $ternary-color;
    }
}

@mixin has-strong {
    strong {
        font-weight: 600;
    }
}

@mixin section-title {
    display: inline-block;
    font-size: 48px;
    letter-spacing: -2px;
    font-weight: 800;
    line-height: 0.9em;
    padding: 0;
    margin: 0;
}

@mixin title {
    font-size: 32px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: -1px;
}

@mixin tablet {
    @media screen and (max-width: 1000px) {
        @content;
    }
}

body, html {
    font-family: $main-font;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.page-body {
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 24px;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    line-height: 72px;

    @include tablet {
        display: block;
    }
}

.site-title, .site-title:visited, .site-title:active {
    font-size: 22px;
    font-weight: 300;
    color: $dark-color;
    text-decoration: none;
    white-space: nowrap;

    strong {
        font-size: 24px;
    }

    @include tablet {
        display: block;
        text-align: center;
    }
}

.site-title:hover {
    color: $dark-color;
    background: transparent;
}

.site-title strong {
    font-family: $secondary-font;
    font-weight: 600;
}

.site-nav {
    line-height: 1.6em;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    gap: 48px;

    a {
        color: $mutted-color;
        text-decoration: underline;
        padding-bottom: -12px;
        white-space: nowrap;

        &:hover {
            border-bottom: 5px solid $primary-color;
            background: transparent;
            color: $mutted-color;
            text-decoration: none;
        }
    }


    @include tablet {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

.site-nav-ul {
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;

    @include tablet {
        justify-content: center;
        flex-wrap: wrap;
        line-height: 1.5em;
        align-items: center;
        gap: 6px;
    }
}

.langauge-selector {
    @include tablet {
        margin-bottom: 24px;
    }
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 72px 0 48px 0;

    @include tablet {
        display: block;
    }
}

.home-header-tag {
    padding: 32px 0;
}

.home-header-headline {
    font-size: 120px;
    font-weight: 300;
    line-height: 52px;
    padding: 0;
    margin: 0;

    @include tablet {
        text-align: center;
    }

    strong {
        font-family: $secondary-font;
        font-weight: 900;
        display: block;
    }

    small {
        font-weight: 300;
        font-size: 32px;
        color: $mutted-color;
        letter-spacing: 6px;
    }
}

.home-header-tag-line {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1em;
    margin: 12px 0;

    @include tablet {
        text-align: center;
    }
}

.home-header-join-us-cta {
    padding-top: 48px;
    font-size: 24px;
    max-width: 300px;
    color: $mutted-color;

    @include tablet {
        display: block;
        max-width: 100%;
    }
}

.home-header-join-us-text {
    @include pharagraph;
    @include has-links;
    font-size: 22px;
}

.home-header-join-us-cta-btn {
    position: relative;
    border-radius: 3px;
    background: $secondary-color;
    color: $dark-color;
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    border: none;
    padding: 24px 82px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background: $darken-secondary-color;
    }

    @include tablet {
        display: block;
        width: 100%;
    }
}

.home-participate {
    background: $primary-color;
    color: $light-color;
    padding: 48px 0;
}

.home-participate-title {
    @include section-title;
    border-bottom: solid 10px $secondary-color;
}

.col-container {
    display: flex;
    gap: 84px;

    @include tablet {
        display: block;
    }
}

.home-participate-item {
    p {
        font-size: 17px;
        line-height: 1.6em;;
    }
}

.home-participate-content {
    @include pharagraph;
    font-size: 18px;
}

.home-participate-item-title {
    @include title;
    margin: 64px 0 32px 0;
}

.home-membership {
    background: $secondary-color;
    padding: 48px 0 64px 0;
}

.home-membership-description {
    @include pharagraph;
    @include has-strong;
    font-size: 20px;

    a, a:visited, a:active {
        color: $primary-color;
    }

    a:hover {
        color: $light-color;
        background: $primary-color;
    }
}

.home-membership-title {
    @include section-title;
    border-bottom: solid 10px $dark-color;
}

.home-membership-item {
    p {
        font-size: 17px;
        line-height: 1.6em;
    }
}

.home-membership-item-title {
    @include title;
    margin: 68px 0 52px 0;
}


.event-item {
    padding-bottom: 32px;
    border-bottom: 2px solid $very-mutted-color;
}

.event-item:last-child {
    border-bottom: none;
}


.home-events {
    padding: 48px 0;
}

.home-events-title {
    @include section-title;
    border-bottom: solid 10px $secondary-color;
}

.home-events-description {
    @include pharagraph;
    @include has-strong;
    font-size: 19px;

    a, a:visited, a:active {
        color: $primary-color;
    }

    a:hover {
        color: $light-color;
        background: $primary-color;
    }
}

.home-event-title {
    margin: 64px 0 18px 0;
    font-weight: 600;
    font-size: 32px;
    display: inline-block;
}

.home-event-description {
    @include pharagraph;
    font-size: 17px;
    line-height: 1.6em;
}

.site-footer {
    background: $more-mutted-color;
    padding: 32px 0;
    color: $light-color;
    line-height: 2em;

    a {
        color: $light-color;
        font-size: 16px;
    }
}

.column {
    flex-grow: 1;
    flex-shrink: 0;
}

.event-date {
    background: $mutted-color;
    color: $secondary-color;
    font-weight: 600;
    padding: 0 4px;
    border-radius: 2px;
}

.event-place {
    font-weight: 600;
    font-style: italic;
    color: $mutted-color;
}


.foot-title {
    font-size: 20px;
    font-weight: 600;
    margin: 24px 0;
}

.page-foot-nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2em;
    font-weight: 400;
}

.single-page-intro {
    background: $primary-color;
    color: $light-color;
    padding: 48px 0;
}

.single-page-title {
    @include title;
    font-weight: 800;
    letter-spacing: -2px;
    font-size: 38px;
    border-bottom: solid 10px $secondary-color;
}

.single-page-description {
    padding-top: 24px;
    line-height: 1.7em;

    p {
        margin: 12px 0;
    }
}

.single-page-body {
    padding-top: 32px;
    padding-bottom: 32px;

    p {
        @include pharagraph;
        margin: 20px 0;
    }

    h2 {
        @include title;
        padding: 24px 0;
    }

    ul {
        list-style-type: square;
        line-height: 2em;
        padding: 12px 0 12px 52px;
    }

    ol {
        list-style-type: lower-alpha;
        line-height: 2em;
        padding: 12px 0 12px 18px;
    }
}
