/**
We follow rule of least surprise.

* we don't use very general selectors,
* we don't reuse classes
* we don't use overly specific selectors

This might mean a bit more things need to be done to add new thing
but it makes long term maintainanece much simpler.
*/
@import "reset";
@import "../../node_modules/leaflet/dist/leaflet";

$main-font: 'Merriweather Sans', sans-serif;
$secondary-font: 'Abril Fatface', cursive;

$dark-color: #000000;
$mutted-color: #2a3439;
$more-mutted-color: #3d3d41;
$very-mutted-color: #dcdcdc;
$light-color: #ffffff;
$primary-color: #237fa8;
$secondary-color: #ffc832;
$darken-secondary-color: #E8B322;
$ternary-color: #237FA8;
$ternary-color: #43C5FF;

@mixin pharagraph {
    line-height: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

@mixin has-links {
    a, a:visited, a:active {
        color: $primary-color;
    }

    a:hover {
        color: $light-color;
        background: $primary-color;
    }
}

@mixin has-strong {
    strong {
        font-weight: 600;
    }
}

@mixin section-title {
    display: inline-block;
    font-size: 48px;
    letter-spacing: -2px;
    font-weight: 800;
    line-height: 0.9em;
    padding: 0;
    margin: 0;
}

@mixin title {
    font-size: 32px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: -1px;
}

@mixin sub-title {
    margin-top: 24px;
    font-weight: 800;
    font-size: 32px;
}

@mixin page-body {
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 24px;
}

@mixin cta-btn {
    position: relative;
    border-radius: 3px;
    background: $secondary-color;
    color: $dark-color;
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    border: none;
    padding: 24px 82px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    &:hover {
        background: $darken-secondary-color;
    }
}

@mixin style-md {
    @include has-links;

    p {
        @include pharagraph;
        margin: 20px 0;
    }

    strong {
        font-weight: 700;
    }

    em {
        font-style: italic;
    }

    h2 {
        @include title;
        padding: 24px 0;
        font-weight: 800;
    }

    h3 {
        @include title;
        padding: 24px 0;
    }

    h4 {
        font-size: 22px;
        font-weight: 800;
        margin-top: 20px;
    }

    ul {
        list-style-type: square;
        line-height: 2em;
        padding: 12px 0 12px 52px;
    }

    ol {
        list-style-type: numeric;
        line-height: 1.5em;
        padding: 12px 0 12px 22px;

        li {
            padding: 8px 0;
        }

        ol {
            list-style-type: lower-alpha;
            padding: 8px 0 0 42px;

            li {
                padding: 3px 0;
            }
        }
    }
}

@mixin tablet {
    @media screen and (max-width: 1000px) {
        @content;
    }
}


body, html {
    font-family: $main-font;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/** To fix footer at the bottom of the page
    which is something most pages donesn't do
    we flex display body and flex-end the footer
*/
body {
    display: flex;
    flex-direction: column;
}

.page-body {
    @include page-body;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    line-height: 72px;

    @include tablet {
        flex-direction: column;
    }
}

.site-title, .site-title:visited, .site-title:active {
    font-size: 22px;
    font-weight: 300;
    color: $dark-color;
    text-decoration: none;
    white-space: nowrap;

    strong {
        font-size: 24px;
    }

    @include tablet {
        display: block;
        text-align: center;
    }
}

.site-title:hover {
    color: $dark-color;
    background: transparent;
}

.site-title strong {
    font-family: $secondary-font;
    font-weight: 600;
}

.site-nav {
    line-height: 1.6em;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    gap: 48px;

    a {
        color: $mutted-color;
        text-decoration: underline;
        padding-bottom: -12px;
        white-space: nowrap;

        &:hover {
            border-bottom: 5px solid $primary-color;
            background: transparent;
            color: $mutted-color;
            text-decoration: none;
        }
    }


    @include tablet {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

.site-nav-ul {
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;

    @include tablet {
        justify-content: center;
        flex-wrap: wrap;
        line-height: 1.5em;
        align-items: center;
        gap: 6px;
    }
}

.langauge-selector {
    @include tablet {
        margin-bottom: 24px;
    }
}

.home-header {
}

.home-header-content {
    @include page-body;
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 48px;

    @include tablet {
        flex-direction: column;
    }
}

.home-header-tag {
    padding: 32px 0;
}

.home-header-headline {
    font-size: 120px;
    font-weight: 300;
    line-height: 52px;
    padding: 0;
    margin: 0;

    @include tablet {
        text-align: center;
    }

    strong {
        font-family: $secondary-font;
        font-weight: 900;
        display: block;
    }

    small {
        font-weight: 300;
        font-size: 32px;
        color: $mutted-color;
        letter-spacing: 6px;
    }
}

.home-header-tag-line {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1em;
    margin: 12px 0;

    @include tablet {
        text-align: center;
    }
}

.home-header-join-us-cta {
    padding-top: 48px;
    font-size: 24px;
    max-width: 300px;
    color: $mutted-color;

    @include tablet {
        display: block;
        max-width: 100%;
    }
}

.home-header-join-us-text {
    @include pharagraph;
    @include has-links;
    font-size: 22px;
}

.home-header-join-us-cta-btn {
    @include cta-btn;
    display: inline-block;

    @include tablet {
        display: block;
        width: 100%;
    }
}

.home-participate {
    background: $primary-color;
    color: $light-color;
    padding: 48px 0;
}

.home-participate-title {
    @include section-title;
    border-bottom: solid 10px $secondary-color;
}

.col-container {
    display: flex;
    gap: 84px;

    @include tablet {
        flex-direction: column;
    }
}

.home-participate-item {
    p {
        font-size: 17px;
        line-height: 1.6em;;
    }
}

.home-participate-content {
    @include pharagraph;
    font-size: 18px;
}

.home-participate-item-title {
    @include title;
    margin: 64px 0 32px 0;
}

.home-membership {
    background: $secondary-color;
    padding: 48px 0 64px 0;
}

.home-membership-description {
    @include pharagraph;
    @include has-strong;
    font-size: 20px;

    a, a:visited, a:active {
        color: $primary-color;
    }

    a:hover {
        color: $light-color;
        background: $primary-color;
    }
}

.home-membership-title {
    @include section-title;
    border-bottom: solid 10px $dark-color;
}

.home-membership-item {
    p {
        font-size: 17px;
        line-height: 1.6em;
    }
}

.home-membership-item-title {
    @include title;
    margin: 68px 0 52px 0;
}

.home-events {
    padding: 48px 0;
}

.home-events-title {
    @include section-title;
    border-bottom: solid 10px $secondary-color;
}

.home-events-description {
    @include pharagraph;
    @include has-strong;
    font-size: 19px;

    a, a:visited, a:active {
        color: $primary-color;
    }

    a:hover {
        color: $light-color;
        background: $primary-color;
    }
}

.home-event-title {
    margin: 64px 0 18px 0;
    font-weight: 600;
    font-size: 32px;
    display: inline-block;
}

.home-event-link {
    color: $dark-color;
    text-decoration: none;
}

.home-event-description {
    @include pharagraph;
    font-size: 17px;
    line-height: 1.6em;
}

.home-event-item {
    padding-bottom: 32px;
    border-bottom: 2px solid $very-mutted-color;

    &:last-child {
        border-bottom: none;
    }
}

.site-footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: $more-mutted-color;
    padding: 32px 0;
    color: $light-color;
    line-height: 2em;

    a {
        color: $light-color;
        font-size: 16px;
    }
}

.site-after-footer {
    background: $mutted-color;
    padding: 24px 0;
}

.site-software-note {
    @include page-body;
    font-size: 14px;
    color: $very-mutted-color;
    line-height: 1.5em;
    text-align: center;

    a {
        color: $ternary-color;
    }
}

.column {
    flex-grow: 1;
    flex-shrink: 0;
}

.home-event-date {
    background: $primary-color;
    color: $light-color;
    font-weight: 600;
    padding: 0 4px;
    border-radius: 2px;
}

.home-event-place {
    font-weight: 600;
    font-style: italic;
    color: $mutted-color;
}

.foot-title {
    font-size: 20px;
    font-weight: 600;
    margin: 24px 0;
}

.page-foot-nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2em;
    font-weight: 400;
}

.single-page-header {
    background: $primary-color;
    color: $light-color;
    padding-top: 72px;
    padding-bottom: 32px;
}

.single-page-header-content {
    @include page-body;
}

.single-page-title {
    display: inline-block;
    font-weight: 800;
    letter-spacing: -2px;
    font-size: 68px;
    border-bottom: solid 10px $secondary-color;
}

.single-page-description {
    padding-top: 24px;
    line-height: 1.7em;
    font-weight: 600;
    font-size: 18px;

    p {
        margin: 12px 0;
    }

    em {
        font-style: italic;
        font-weight: 300;
    }
}

.single-page-body {
    @include page-body;
    @include style-md;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-grow: 1;
    font-size: 16px;
}

.register-page-header {
    background: $secondary-color;
    border-top: 6px solid $primary-color;
    padding-top: 72px;
    padding-bottom: 32px;
}

.register-page-header-content {
    @include page-body;
}

.register-page-title {
    display: inline-block;
    font-weight: 800;
    letter-spacing: -2px;
    font-size: 68px;
    border-bottom: solid 10px $dark-color;
}

.register-page-description {
    padding-top: 24px;
    line-height: 1.7em;
    font-weight: 600;
    font-size: 20px;

    p {
        margin: 12px 0;
    }

    em {
        font-style: italic;
        font-weight: 300;
    }
}

.register-page-body {
    background: $primary-color;
    min-height: 500px;
    color: $light-color;
    padding: 32px 0;
    font-weight: 800;
    flex-grow: 1;
}

.register-page-content {
    @include page-body;
}

.faq-header {
    @include page-body;
    padding-top: 72px;
    padding-bottom: 48px;
}

.faq-title {
    font-size: 120px;
    font-weight: 300;
    padding: 0;
    font-weight: 800;
    letter-spacing: -8px;;
    margin: 0;
}

.faq-sub-title {
    @include sub-title;
}

.faq-meta-content {
    @include style-md;
}

.faq-content {
    flex-grow: 1;
}

.faq-item {
    background: $primary-color;
    color: $light-color;
    padding: 24px 0;

    &.second {
        background: $secondary-color;
        color: $dark-color;

        .faq-question-text {
            border-color: $dark-color;
        }
    }

    &.third {
        background: $light-color;
        color: $dark-color;
    }
}

.faq-question {
    font-weight: 800;
    font-size: 32px;
    margin: 12px 0;
}

.faq-question-text {
    @include page-body;
    border-bottom: 6px solid $secondary-color;
    letter-spacing: -1px;
}

.faq-question-link {
    color: inherit;
    text-decoration: none;
}

.faq-answer {
    @include page-body;
    @include style-md;
    line-height: 1.6em;
    font-size: 16px;
}

.events-header {
    border-bottom: 6px solid $primary-color;
    border-top: 6px solid $primary-color;
    background: $very-mutted-color;
    margin-bottom: 32px;
}

.events-header-content {
    @include page-body;
    padding-top: 72px;
    padding-bottom: 32px;
}

.events-title {
    @include section-title;
    border-bottom: solid 10px $primary-color;
    font-size: 68px;
}

.events-sub-title {
    font-weight: 400;
    font-size: 27px;
    color: $mutted-color;
    margin-top: 24px;
}

.events-meta-content {
    @include style-md;
}

.events-content {
    @include page-body;
    flex-grow: 1;
}

.events-event-title {
    margin: 64px 0 18px 0;
    font-weight: 600;
    font-size: 32px;
    display: inline-block;
}

.events-event-link {
    color: $dark-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.events-event-description {
    @include pharagraph;
    font-size: 17px;
    line-height: 1.6em;
}

.events-event-item {
    padding-bottom: 32px;
    border-bottom: 2px solid $very-mutted-color;

    &:last-child {
        border-bottom: none;
    }
}

.events-event-date {
    background: $primary-color;
    color: $light-color;
    font-weight: 600;
    padding: 0 4px;
    border-radius: 2px;
}

.events-event-place {
    font-weight: 600;
    font-style: italic;
    color: $mutted-color;
}

.event-detail-header-content {
    @include page-body;
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 32px;

    @include tablet {
        flex-direction: column;
        gap: 24px;
    }
}

.event-detail-header-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;

    @include tablet {
        align-items: stretch;
    }
}

.event-detail-sub-title {
    font-weight: 400;
    font-size: 27px;
    color: $mutted-color;
}

.event-detail-header-register-cta {
    @include cta-btn;
    padding: 12px 48px;
}

.event-detail-header-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 6px;

    @include tablet {
        align-items: flex-start;
    }
}

.event-detail-header-date {
    font-weight: 800;
    font-size: 28px;
    text-align: right;
}

.event-detail-header-place {
    font-size: 32px;
    font-weight: 300;
    color: $primary-color;
    text-align: right;
}

.event-detail-page-body {
    @include page-body;
    display: flex;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-grow: 1;
    font-size: 16px;

    @include tablet {
        flex-direction: column;
    }
}

.event-detail-content {
    @include style-md;
    flex-grow: 1;
    flex-shrink: 1;
}

.event-detail-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 400px;
    flex-shrink: 0;
    flex-grow: 0;

    @include tablet {
        width: auto;
    }
}

.event-detail-info-title {
    font-size: 38px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: -18px;
    color: $very-mutted-color;
}

.event-detail-info-table {
    @include has-links;
    width: 100%;
    color: $mutted-color;

    td {
        padding: 4px 0;
        font-weight: 600;

        &:last-child {
            width: 65%;
            font-weight: 400;
        }
    }
}

.event-detail-register-cta {
    @include cta-btn;
}

.event-detail-info-share {
    @include has-links;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    a {
        width: auto;
        padding: 2px 0;
    }
}

.event-detail-info-map {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.event-detail-info-coords {
    color: $more-mutted-color;
    font-size: 14px;
    line-height: 1.3em;
}

.event-detail-info-map-links {
    @include has-links;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

#map {
    height: 300px;
}

.map-marker-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 6px;
}

.image-preload {
    display: none;
}
