{{ define "title" }}
  {{ .Param "title" }} | {{ .Site.Title }} {{ .Site.Param "subTitle" }}
{{ end }}

{{ define "content" }}
  <section class="statements-header">
    <div class="single-page-header-content">
      <a class="statements-header-all-btn" href="{{ ref . "statements" }}">
        {{ i18n "More statements" }}
      </a>
      <h1 class="statements-title">{{ .Title }}</h1>

      <div class="statement-header-meta">
        <div class="statement-header-date">
          {{ if isset .Page "PublishedDate" }}
            {{ .PublishedDate | time.Format ":date_long" }}
          {{ else }}
            {{ .Date | time.Format ":date_long" }}
          {{ end }}
        </div>
        <div class="statement-header-author">
          {{ if .Page.Param "author" }}
            {{ i18n "by" }} {{ .Author }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <main class="statements-body">
    <div class="statements-left">
      {{ .Content }}

      {{ if .Page.Param "authorInfo" }}
        <div class="statements-author-info">
          {{ .Page.Param "authorInfo" | markdownify }}
        </div>
      {{ end }}

    </div>

    <div class="statements-right">
      {{ $logo := resources.Get "svg/oop-ict-logo.svg" | resources.Fingerprint "sha512" }}
      <img class="statements-logo" src="{{ $logo.Permalink }}" alt="{{ .Site.Param "title" }}" />

      <h3 class="statements-right-title">{{ i18n "Share" }}:</h3>
      <div class="statements-share">
        {{ partial "share" . }}
      </div>
    </div>
  </main>

  <footer class="statements-end-cta">
    <a class="statements-end-all-btn" href="{{ ref . "statements" }}">
      {{ i18n "More statements" }}
    </a>

    {{ partial "share" . }}
  </footer>
{{ end }}
