{{ define "title" }}
  {{ .Param "title" }} | {{ .Site.Title }} {{ .Site.Param "subTitle" }}
{{ end }}

{{ define "content" }}
  <section class="single-page-header">
    <div class="single-page-header-content">
      <h1 class="single-page-title">{{ .Title }}</h1>
      <div class="single-page-description">
        {{ .Param "description" | markdownify }}
      </div>

      {{ if isset .Page.Params "download" }}
        <div class="single-page-header-download">
          {{ i18n "download" }}: <a class="single-page-header-download-link" target="_blank" href="/downloads/{{ .Page.Param "download"}}">{{ .Page.Param "download"}}</a>
        </div>
      {{ end }}
    </div>
  </section>
  <main class="about-page-body">
    <div class="about-page-right">
      {{ $logo := resources.Get "svg/oop-ict-logo.svg" }}
      <img src="{{ $logo.Permalink }}" alt="{{ .Param "title" }}" />
    </div>
    <div class="about-page-left">
      {{ .Content }}
    </div>
  </main>
{{ end }}
