<!doctype html>
<html>
  <head>
    <title>ICT UNION</title>

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap" rel="stylesheet">

    {{ $options := (dict "transpiler" "dartsass") }}
    {{ $sass := resources.Get "scss/main.scss" }}
    {{ $style := $sass | resources.ToCSS $options }}

    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">


    <style>
    </style>
  </head>
  <body>
    <header class="page-header">
        <a class="site-title" href="#"><strong>{{ .Param "title" }}</strong> {{ .Param "sub_title" }}</a>
        <nav class="page-nav">
          <ul class="page-nav-ul">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Statutes</a>
            </li>
            <li>
              <a href="#">Register</a>
            </li>
            <li>
              <a href="#">Events</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
          </ul>
          <select class="langauge-selector">
              <option value="en">English</option>
              <option value="cz">Czech</option>
          </select>
        </nav>
    </header>
    <main class="page-body">
      <section class="site-intro">
        <div class="site-tag">
            <h1 class="page-headline"><strong>{{ .Param "title" }}</strong> <small>{{ .Param "sub_title" }}</small></h1>
            <p class="site-tag-line">
                {{ .Param "tag_line" | safeHTML }}
            </p>
        </div>
        <div class="join-us-cta">
          <button class="join-us-cta-btn">{{ .Param "join_cta" }}</button>
          <p class="join-us-text"><a href="#">Become a member</a> or join some of our <a href="#">events</a>.</p>
        </div>
      </section>
    </main>
      <section class="next-section">
        <main class="page-body">
            <h2 class="section-title-next">How to participate?</h2>
            <div class="coll-container">
                <div class="homepage-item">
                    <h3 class="participate-title">Attend Event</h3>
                    <p class="participate-pharagraph">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="homepage-item">
                    <h3 class="participate-title">Come & Meet Us</h3>
                    <p class="participate-pharagraph">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="homepage-item">
                    <h3 class="participate-title">Join the Union</h3>
                    <p class="participate-pharagraph">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </main>
      </section>
      <section class="third-section">
        <main class="page-body">
            <h2 class="section-title">Membership Means...</h2>
            <p class="section-description">
              You'll become member of community of professionals and activists driven to achieve <a href="#">common goals</a> and betterment of conditions in our industry as well as society at large.
              <a href="#">Joining the union</a> will provide you with <strong>support structure whether you strive for betterment of work conditions or campaign for social change</strong>.
            </p>
            <div class="coll-container">
                <div class="homepage-item">
                    <h3 class="join-title">Attend Event</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="homepage-item">
                    <h3 class="join-title">Come & Meet Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="homepage-item">
                    <h3 class="join-title">Join the Union</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </main>
      </section>
      <section class="forth-section">
        <main class="page-body">
            <h2 class="forth-section-title">Upcoming Events:</h2>
            <p class="section-description">Even as a non-member you can come and join some of our events. <strong>Participation isn't condition by a membership</strong> and who know? Maybe you'll consider
                <a href="#">becoming member</a> eventually!
            </p>
            <div class="event-item">
                <h3 class="event-title">Climathon</h3>
                <div class="event-info">
                  <span class="event-date">18th March 2023</span>
                  <span class="event-place">Brno</span>
                </div>
                <p class="event-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="event-item">
                <h3 class="event-title">Webinar</h3>
                <div class="event-info">
                  <span class="event-date">18th March 2023</span>
                  <span class="event-place">Brno</span>
                </div>
                <p class="event-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </main>
      </section>
      <footer class="page-footer">
        <main class="page-body">
            <div class="coll-container">
              <div class="column">
                <h4 class="foot-title">Learn More</h4>
                <ul class="page-foot-nav-ul">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Statutes</a>
                    </li>
                    <li>
                        <a href="#">Register</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">Faq</a>
                    </li>
                </ul>
              </div>

              <div class="column">
                <h4 class="foot-title">Socials</h4>
                <h4 class="foot-title">Language</h4>
                <ul class="page-foot-nav-ul">
                    <li>
                        <a href="#">English</a>
                    </li>
                    <li>
                        <a href="#">Czech</a>
                    </li>
                </ul>
              </div>

              <div class="column">
                <h4 class="foot-title">Legal</h4>
                <p>registered in as bla bla</p>
                <ul class="page-foot-nav-ul">
                    <li>
                        <a href="#">Legal Materials</a>
                    </li>
                </ul>
              </div>
            </div>
        </main>
      </footer>
  </body>
</html>
