<footer class="site-footer">
  <main class="site-footer-page-body">
    <div class="site-footer-col-container">
      <div class="site-footer-column">
        <section class="site-footer-section">
          <h4 class="site-footer-title">{{ .Param "footer.learnMore" }}</h4>
          <ul class="page-foot-nav-ul">
            <li>
              <a href="{{ ref . "/" }}">{{ .Param "navigation.home" }}</a>
            </li>
            <li>
              <a href="{{ ref . "about" }}">{{ .Param "navigation.aboutUs" }}</a>
            </li>
            <li>
              <a href="{{ ref . "statements" }}">{{ .Param "navigation.statements" }}</a>
            </li>
            <li>
              <a href="{{ ref . "statutes" }}">{{ .Param "navigation.statutes" }}</a>
            </li>
            <li>
              <a href="{{ ref . "register" }}">{{ .Param "navigation.register" }}</a>
            </li>
            <li>
              <a href="{{ ref . "events" }}">{{ .Param "navigation.events" }}</a>
            </li>
            <li>
              <a href="{{ ref . "faq" }}">{{ .Param "navigation.faq" }}</a>
            </li>
          </ul>
        </section>
      </div>

      <div class="site-footer-column">
        <section class="site-footer-section">
          <h4 class="site-footer-title">{{ .Param "footer.socials" }}</h4>
          <div class="site-footer-social-links">
            {{ if .Site.Param "social.twitter" }}
              <a target="_blank" href="{{ .Site.Param "social.twitter" }}"><span class="icon bird_site"></span></a>
            {{ end }}
            {{ if .Site.Param "social.facebook" }}
              <a target="blank" href="{{ .Site.Param "social.facebook" }}"><span class="icon facebook"></span></a>
            {{ end }}
            {{ if .Site.Param "social.linkedin" }}
              <a target="blank" href="{{ .Site.Param "social.linkedin" }}"><span class="icon job_site"></span></a>
            {{ end }}
            {{ if .Site.Param "social.github" }}
              <a target="blank" href="{{ .Site.Param "social.github" }}"><span class="icon github"></span></a>
            {{ end }}
            {{ if .Site.Param "social.youtube" }}
              <a target="blank" href="{{ .Site.Param "social.youtube" }}"><span class="icon video_site"></span></a>
            {{ end }}
            {{ if .Site.Param "social.instagram" }}
              <a target="blank" href="{{ .Site.Param "social.instagram" }}"><span class="icon photo_site"></span></a>
            {{ end }}
            {{ if .Site.Param "social.mastodon" }}
              <a target="blank" href="{{ .Site.Param "social.mastodon" }}"><span class="icon mastodon"></span></a>
            {{ end }}
            {{ with .OutputFormats.Get "rss" -}}
              <a target="_blank" href="{{.Permalink}}"><span class="icon rss"></span></a>
            {{ end }}
          </div>
        </section>

        <section class="site-footer-section">
          <h4 class="site-footer-title">{{ .Param "footer.languages" }}</h4>
          <ul class="site-footer-nav-ul">
            {{ $siteLanguages := site.Languages }}
            {{ $pageLang := .Page.Lang }}
            {{- range .Page.AllTranslations }}
              {{ $translation := . }}
              {{- range sort $siteLanguages "Weight" "asc" }}
                {{- if eq $translation.Lang .Lang }}
                <li>
                  <a href="{{ $translation.Permalink | relURL }}">
                    {{ .Params.languageFlag }}
                    {{ .Params.languageName }}
                  </a>
                </li>
                {{- end }}
              {{- end }}
            {{- end }}
          </ul>
        </section>
      </div>

      <div class="site-footer-column">
        <section class="site-footer-section">
          <h4 class="site-footer-title">{{ .Site.Param "footer.contacts" }}</h4>

          <ul class="site-footer-contancts-ul">
            <li>
              {{i18n "Email" }}: <a href="mailto:{{ .Site.Param "support_email" }}">{{ .Site.Param "supportEmail" }}</a>
            </li>
            <li>
              {{ i18n "Phone Number" }}: <a href="tel:{{ .Site.Param "support_phone" }}">{{ .Site.Param "supportPhone" }}</a>
            </li>
          </ul>
        </section>

        <section class="site-footer-section">
          <h4 class="site-footer-title">{{ .Site.Param "footer.partners" }}</h4>

          <ul class="site-footer-partners-ul">
            {{- range $i, $partner := .Site.Param "partners" }}
              <li>
                <a target="_blank" href="{{ $partner.link }}">{{ $partner.name }}</a>
              </li>
            {{- end }}
          </ul>
        </section>

        <section class="site-footer-section">
          <h4 class="site-footer-title">{{ .Site.Param "footer.legal" }}</h4>
          <p class="site-footer-legal-info">
            {{ .Site.Param "legal.entityName" }}<br>
            {{ .Site.Param "footer.legalLink" }}:
            <a target="_blank" href="{{ .Site.Param "legal.entry" }}">
              {{ .Site.Param "legal.registrationNumber" }}
            </a>
          </p>
        </section>
      </div>
    </div>
  </main>
</footer>

<section class="site-after-footer">
  <div class="site-licensing-note">
    Content is provided under <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a>.<br>
    Source code is <a target="_blank" href="{{ .Site.Param "sourceUrl" }}">released</a> under <a target="_blank" href="//www.gnu.org/licenses/agpl-3.0.html">AGPL license</a>.
  </div>
</section>
