<header class="site-header">
  <a class="site-title" href="#">
    <strong>{{ .Param "title" }}</strong>
    {{ .Param "subTitle" }}
  </a>
  <nav class="site-nav">
    <ul class="site-nav-ul">
      <li>
        <a href="#">{{ .Param "navigation.home" }}</a>
      </li>
      <li>
        <a href="#">{{ .Param "navigation.aboutUs" }}</a>
      </li>
      <li>
        <a href="#">{{ .Param "navigation.statutes" }}</a>
      </li>
      <li>
        <a href="#">{{ .Param "navigation.register" }}</a>
      </li>
      <li>
        <a href="#">{{ .Param "navigation.events" }}</a>
      </li>
      <li>
        <a href="#">{{ .Param "navigation.faq" }}</a>
      </li>
    </ul>
    <select class="langauge-selector" onchange="switchLanguage(this.value)">
      {{ $siteLanguages := site.Languages }}
      {{ $pageLang := .Page.Lang }}
      {{- range .Page.AllTranslations }}
        {{ $translation := . }}
        {{- range sort $siteLanguages "Weight" "asc" }}
          {{- if eq $translation.Lang .Lang }}
            <option value="{{ $translation.Permalink | relURL }}"
                    {{ if eq $pageLang .Lang }}
                    selected
                    {{ end }}>
              {{ .Params.languageFlag }}
              {{ .Params.languageName }}
            </option>
          {{- end }}
          {{- end }}
        {{- end }}
    </select>
  </nav>
</header>
