<header class="site-header">
  <a class="site-title" href="{{ ref . "/" }}">
    {{ $logo := resources.Get "svg/oop-ict-logo.svg" | resources.Fingerprint "sha512" }}
    <img class="site-header-logo" src="{{ $logo.Permalink }}" alt="" />
    <div>
      <strong>{{ .Site.Title }}</strong>
      {{ .Site.Param "subTitle" }}
    </div>
  </a>
  <nav class="site-nav">
    <ul class="site-nav-ul">
      <li>
        <a href="{{ ref . "/" }}">{{ .Site.Param "navigation.home" }}</a>
      </li>
      <li>
        <a href="{{ ref . "about" }}">{{ .Site.Param "navigation.aboutUs" }}</a>
      </li>
      <li>
        <a href="{{ ref . "register" }}">{{ .Site.Param "navigation.register" }}</a>
      </li>
      <li>
        <a href="{{ ref . "events" }}">{{ .Site.Param "navigation.events" }}</a>
      </li>
      <li>
        <a href="{{ ref . "workplaces" }}">{{ .Site.Param "navigation.workplaces" }}</a>
      </li>
            <li>
        <a href="{{ ref . "for-members" }}">{{ .Site.Param "navigation.forMembers" }}</a>
      </li>
      <li>
        <a href="{{ ref . "faq" }}">{{ .Site.Param "navigation.faq" }}</a>
      </li>
    </ul>
    <select class="language-selector" onchange="switchLanguage(this.value)" aria-label="{{ i18n "Select language" }}">
      {{ $siteLanguages := site.Languages }}
      {{ $pageLang := .Page.Lang }}
      {{- range .Page.AllTranslations }}
        {{ $translation := . }}
        {{- range sort $siteLanguages "Weight" "asc" }}
          {{- if eq $translation.Lang .Lang }}
            <option value="{{ $translation.Permalink | relURL }}"
                    {{ if eq $pageLang .Lang }}
                    selected
                    {{ end }}>
              {{ .Params.languageFlag }}
              {{ .Params.language }}
            </option>
          {{- end }}
        {{- end }}
      {{- end }}
    </select>
  </nav>
</header>
