<section class="home-header">
  <div class="home-header-content">
    <div class="home-header-tag">
      <h1 class="home-header-headline">
        <strong>{{ .Param "title" }}</strong> <small>{{ .Param "subTitle" }}</small>
      </h1>
      <p class="home-header-tag-line">
        {{ .Param "tagLine" }}
      </p>
    </div>
    <div class="home-header-join-us-cta">
      <a href="{{ ref . "register" }}" class="home-header-join-us-cta-btn">{{ .Param "joinCta" }}</a>
      <div class="home-header-join-us-text">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
