<main class="page-body">
  <section class="home-header">
    <div class="home-header-tag">
      <h1 class="home-header-headline"><strong>{{ .Param "title" }}</strong> <small>{{ .Param "subTitle" }}</small></h1>
      <p class="home-header-tag-line">
        {{ .Param "tagLine" | safeHTML }}
      </p>
    </div>
    <div class="home-header-join-us-cta">
      <button class="home-header-join-us-cta-btn">{{ .Param "joinCta" }}</button>
      <p class="home-header-join-us-text">
        <a href="#">{{ i18n "become member" }}</a> {{ i18n "or join some of our" }} <a href="#">{{ i18n "events" }}</a>.
      </p>
    </div>
  </section>
</main>
