{{ define "scripts" }}
  {{ $index_js := resources.Get "ts/index.ts" | js.Build }}
  <script src="{{ $index_js.Permalink }}" defer></script>
{{ end }}

<section class="home-header">
  <div class="home-header-content">
    <div class="home-header-tag">
      <h1 class="home-header-headline">
        <strong>{{ .Page.Param "title" }}</strong> <small>{{ .Page.Param "subTitle" }}</small>
      </h1>
      <a class="home-header-tag-line" href="{{ ref . "faq" }}#12-who-are-we">
        <span class="home-header-tag-line-we-are">{{ i18n "We are" }}</span>
        <span class="home-header-tag-line-occupation" data-effect="shuffled-typing">
          <script type="application/json">
            {{ $pageLang := .Page.Lang }}
            {{ $res := slice  }}
            {{- range  $i, $occupation := .Site.Data.occupations }}
            {{ $res = append (index $occupation $pageLang) $res }}
            {{- end }}
            {{ $res | jsonify }}
          </script>
        </span>
      </a>
    </div>
    <div class="home-header-join-us-cta">
      <a href="{{ ref . "register" }}" class="home-header-join-us-cta-btn">{{ .Param "joinCta" }}</a>
      <div class="home-header-join-us-text">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
