<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

{{ $ico := resources.Get "svg/favicon.svg" }}
<link rel="icon" href="{{ $ico.Permalink }}" sizes="any" type="image/svg+xml" />

{{ $sass_options := (dict "transpiler" "dartsass") }}
{{ $sass := resources.Get "scss/main.scss" }}
{{ $style := $sass | resources.ToCSS $sass_options | resources.Fingerprint "sha512" }}

<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
