{{ define "title" }}
  {{ .Param "title" }} {{ .Param "subTitle" }}
{{ end }}

{{ define "content" }}
  {{ partial "home-header" . }}

  <section class="home-participate">
    <main class="page-body">
      <h2 class="home-participate-title">{{ .Param "home.participateTitle" }}</h2>
      <div class="col-container">

        {{ range (where .Site.RegularPages "Section" "home-participate") }}
          <div class="home-participate-item">
            <h3 class="home-participate-item-title">{{ .Title }}</h3>
            <div class="home-participate-content">
              {{ .Content }}
            </div>
          </div>
        {{ end }}

      </div>
    </main>
  </section>

  <section class="home-membership">
    <main class="page-body">
      <h2 class="home-membership-title">{{ .Param "home.membershipTitle" }}</h2>
      <div class="home-membership-description">

        {{ with .Site.GetPage "home-membership/0-intro" }}
          {{ .Content }}
        {{ end }}

      </div>
      <div class="col-container">

        {{ range $index, $page := where .Site.RegularPages "Section" "home-membership" }}
          {{ if gt $index 0 }}
            <div class="home-membership-item">
              <h3 class="home-membership-item-title">{{ $page.Title }}</h3>
              {{ $page.Content }}
            </div>
          {{ end }}
        {{ end }}

      </div>
    </main>
  </section>

  <section class="home-events">
    <main class="page-body">
      <h2 class="home-events-title">{{ .Param "home.eventsTitle" }}</h2>
      <div class="home-events-description">

        {{ with .Site.GetPage "home-events" }}
          {{ .Content }}
        {{ end }}

      </div>

      {{ range (where .Site.RegularPages "Section" "events") }}
        <div class="home-event-item">
          <h3 class="home-event-title">{{ .Title }}</h3>
          <div class="home-event-info">
            <span class="event-date">{{ .Params.EventDate }}</span>
            <span class="event-place">{{ .Params.Place }}</span>
          </div>
          <div class="home-event-description">
            {{.Content }}
          </div>
        </div>
      {{ end }}

    </main>
  </section>
{{ end }}
