{{ define "title" }}
  {{ .Param "title" }} {{ .Param "subTitle" }}
{{ end }}

{{ define "content" }}
  {{ partial "home-header" . }}

  <section class="home-participate">
    <main class="home-page-body">
      <h2 class="home-participate-title">{{ .Param "home.participateTitle" }}</h2>
      <div class="col-container">

        {{ range  sort (where .Site.RegularPages "Section" "home-participate") "File.Path" }}
          <div class="home-participate-item">
            <h3 class="home-participate-item-title">{{ .Title }}</h3>
            <div class="home-participate-content">
              {{ .Content }}
            </div>
          </div>
        {{ end }}

      </div>
    </main>
  </section>

  <section class="home-membership">
    <main class="home-page-body">
      <h2 class="home-membership-title">{{ .Param "home.membershipTitle" }}</h2>
      <div class="home-membership-description">

        {{ with .Site.GetPage "home-membership" }}
          {{ .Content }}
        {{ end }}

      </div>
      <div class="col-container">

        {{ range $index, $page := sort (where .Site.RegularPages "Section" "home-membership") "File.Path" }}
          <div class="home-membership-item">
            <h3 class="home-membership-item-title">{{ $page.Title }}</h3>
            {{ $page.Content }}
          </div>
        {{ end }}

      </div>
    </main>
  </section>
{{ end }}
