{{ define "title" }}
  {{ .Param "title" }} | {{ .Site.Title }} {{ .Site.Param "subTitle" }}
{{ end }}

{{ define "content" }}
  <section class="events-header">
    <div class="events-header-content">
      <h1 class="events-title">{{ .Title }}</h1>
      {{ if .Page.Params.SubTitle }}
        <h2 class="events-sub-title">{{ .Page.Param "subTitle" }}</h2>
      {{ end }}
      {{ if .Page.Content }}
        <div class="events-meta-content">{{ .Content }}</div>
      {{ end }}
    </div>
  </section>
  <main class="events-content">
    {{ $upcomming := where (where (sort .Pages ".Date" "asc") "Section" "events") ".Date" ">=" now }}
    <div class="events-list">
      {{ range $upcomming }}
        {{ partial "event-item" . }}
      {{ end }}
    </div>
    <div class="events-past">
      {{ if gt ($upcomming | len) 0 }}
        {{ .Page.Param "past" }}
      {{ else }}
        {{ .Page.Param "noUpcomming" }}
      {{ end }}
    </div>
    <div class="events-list past">
      {{ range where (where .Site.RegularPages "Section" "events") ".Date" "<" now }}
        {{ partial "event-item" . }}
      {{ end }}
    </div>
  </main>
{{ end }}
