{{ define "title" }}
  {{ .Param "title" }} | {{ .Site.Title }} {{ .Site.Param "subTitle" }}
{{ end }}

{{ define "scripts" }}
  {{ $events_js := resources.Get "ts/events.ts" | js.Build | resources.Fingerprint "sha512" }}
  <script src="{{ $events_js.Permalink }}" defer></script>
{{ end }}

{{ define "content" }}
  {{ $ctaType := .Page.Param "ctaType" }}
  {{ if not $ctaType }}
    {{ $ctaType = "register" }}
  {{ end }}
  {{ $past := lt .Page.Date now }}
  <section class="events-header">
    <div class="event-detail-header-content">
      <div class="event-detail-header-left">
        <h1 class="events-title">{{ .Title }}</h1>
        <h2 class="event-detail-sub-title">{{ .Page.Param "subTitle" }}</h2>
        <div class="event-detail-meta">
          {{ if .Param "startDate" }}
            <h3 class="event-detail-header-date">{{ .Params.StartDate | time.Format ":date_long" }}</h3>
          {{ else if .Date }}
            <h3 class="event-detail-header-date">{{ .Date | time.Format ":date_long" }}</h3>
          {{ end }}
          <h3 class="event-detail-header-place">{{ .Params.Place }}</h3>
        </div>
        {{ if .Page.Param "registerUrl" }}
        <a class="event-detail-header-register-cta {{ if $past }} disabled {{end}}" target="_blank" {{ if not $past }} href="{{ .Params.RegisterUrl }}" {{ end }}>
          {{ i18n $ctaType }}
        </a>
        {{ end }}
      </div>

      {{ if .Page.Param "poster" }}
        {{ $poster := .Resources.GetMatch .Page.Params.poster | resources.Fingerprint "sha512" }}
        <a target="_blank" href="{{ $poster.RelPermalink }}" class="event-detail-header-poster">
          {{ $resized := $poster.Fit "250x350 Top" }}
          <img src="{{ $resized.RelPermalink }}" alt="poster">
        </a>
      {{ end }}

    </div>
  </section>
  <div class="event-detail-page-body">
    <main class="event-detail-content">
      {{ .Content }}
      {{ if .Page.Param "petitionId"}}
        <script src="https://actionnetwork.org/widgets/v5/petition/{{ .Params.PetitionId }}?format=js&source=widgets"></script>
        <div class="events-cookie-consent">{{ i18n "Petition consent" }}</div>
        <div id="can-petition-area-{{ .Params.PetitionId }}" style=width:100%></div>
      {{ end }}
    </main>

    <aside class="event-detail-info">

      <section class="event-detail-info-box">
        <h3 class="event-detail-info-title">{{ i18n "When" }}?</h3>
        <table class="event-detail-info-table">
          <tbody>
            {{ if and (.Param "startDate") (not (eq (time (.Param "startDate")).YearDay .Date.YearDay)) }}
              <tr>
                <td>{{ i18n "Start" }}:</td>
                <td>{{ .Params.startDate | time.Format ":date_long" }}</td>
              </tr>
              <tr>
                <td>{{ i18n "End" }}:</td>
                <td>{{ .Params.Date | time.Format ":date_long" }}</td>
              </tr>
            {{ else if and (.Param "startDate") }}
              <tr>
                <td>{{ i18n "Date" }}:</td>
                <td>{{ .Params.StartDate | time.Format ":date_long" }}</td>
              </tr>
              <tr>
                <td>{{ i18n "Start" }}:</td>
                <td>{{ .Params.StartDate | time.Format ":time_short" }}</td>
              </tr>
            {{ else if .Param "date" }}
              <tr>
                <td>{{ i18n "Date" }}:</td>
                <td>{{ .Params.date | time.Format ":date_long" }}</td>
              </tr>
              <tr>
                <td>{{ i18n "Start" }}:</td>
                <td>{{ .Params.Date | time.Format ":time_short" }}</td>
              </tr>
            {{ end }}
            {{ if .Params.Duration }}
              <tr>
                <td>{{ i18n "Duration" }}:</td>
                <td>{{ .Params.Duration }}</td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      </section>

      <section class="event-detail-info-box">
        <h3 class="event-detail-info-title">{{ i18n "Where"}}?</h3>
        <table class="event-detail-info-table">
          <tbody>
            <tr>
              <td>{{ i18n "Place" }}:</td>
              <td>{{ .Params.Place }}</td>
            </tr>
            {{ if .Params.PlaceAddress }}
              <tr>
                <td>{{ i18n "Address" }}:</td>
                <td>{{ .Params.PlaceAddress }}</td>
              </tr>
            {{ end }}
            {{ if .Params.placeUrl }}
              <tr>
                <td>{{ i18n "Website" }}:</td>
                <td><a href="//{{ .Params.placeUrl }}">{{ .Params.placeUrl }}</a></td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      </section>

      {{ if .Page.Param "registerUrl" }}
        <section class="event-detail-info-box">
            <a class="event-detail-register-cta {{ if $past }} disabled {{ end }}" target="_blank" {{ if not $past }} href="{{ .Params.RegisterUrl }}" {{ end }}>{{ i18n $ctaType }}</a>
            <div class="event-detail-qr">
              <x-qr data="{{ .Page.Param "registerUrl" }}"></x-qr>
            </div>
        </section>
      {{ end }}

      <section class="event-detail-info-box">
        <h3 class="event-detail-info-title">{{ i18n "Share" }}:</h3>
        <div class="event-detail-info-share">
          {{ partial "share" . }}
        </div>
      </section>

      {{ if and (isset .Page.Params "lat") (isset .Page.Params "lon") }}
        <section class="event-detail-info-box">
          <h3 class="event-detail-info-title">{{ i18n "Map" }}:</h3>
          <div class="event-detail-info-map">
            <x-map
                class="event-detail-map"
                lat="{{ .Page.Param "lat" }}"
                lng="{{ .Page.Param "lon" }}"
                title="{{ .Page.Param "place" }}"
                text="{{ .Page.Param "placeAddress" }}"
              ></x-map>
            <div class="event-detail-info-coords">
              latitude: {{ .Page.Param "lat" }}</br>
              longitude: {{ .Page.Param "lon" }}
            </div>

            <div class="event-detail-info-map-links">
              <a target="_blank" href="https://www.openstreetmap.org/directions?from=&to={{ .Page.Param "lat"}}%2C{{ .Page.Param "lon"}}">
                {{ i18n "open in" }} Open Street Map
              </a>
              <a target="_blank" href="https://www.google.com/maps?q=loc:{{.Page.Param "lat"}},{{ .Page.Param "lon" }}">
                {{ i18n "open in" }} Google Maps
              </a>
              <a target="_blank" href="//mapy.cz/zakladni?q={{ .Page.Param "lat"}}N%2C {{ .Page.Param "lon" }}E">
                {{ i18n "open in" }} Mapy.cz
              </a>
            </div>
          </div>
        </section>
      {{ end }}
    </aside>
  </div>
{{ end }}
